# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.opendb
ID3Proyect/.vs/ID3Proyect/v17/Browse.VC.db
ID3Proyect/.vs/ID3Proyect/FileContentIndex/1e6efd60-df00-4461-b812-f4690c97b5ff.vsidx
ID3Proyect/.vs/ID3Proyect/v17/.suo
ID3Proyect/.vs/ID3Proyect/FileContentIndex/7e1c7f1e-93a3-4e73-9fd0-ca1640af67fb.vsidx
ID3Proyect/.vs/ID3Proyect/v17/Browse.VC.db
ID3Proyect/.vs/ID3Proyect/v17/Browse.VC.db-shm
ID3Proyect/.vs/ID3Proyect/v17/ipch/AutoPCH/9ddc43a851ba6a85/ID3.ipch
