# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.opendb
ID3Proyect/.vs/ID3Proyect/v17/Browse.VC.db
ID3Proyect/.vs/ID3Proyect/FileContentIndex/1e6efd60-df00-4461-b812-f4690c97b5ff.vsidx
